[submodule "bluetooth-server"]
	path = bluetooth-server
	url = https://github.com/ar-cycling-glasses-capstone/bluetooth-server.git
[submodule "bluetooth_server"]
	path = bluetooth_server
	url = https://github.com/ar-cycling-glasses-capstone/bluetooth-server.git
[submodule "openCV"]
	path = openCV
	url = https://github.com/ar-cycling-glasses-capstone/openCV.git
